body{
    font-family: Arial, Helvetica, sans-serif;
    background: -webkit-linear-gradient(to right, #6ed811, #dd2998);
    background: linear-gradient(to right, #d94513, #15998e);
    color:whitesmoke;
}

h1{
    text-align: center;
    color:bisque;
}